{% extends "newindex.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for p in bookinfo %}
          <tr>
            <th scope="row">{{ p.enterId }}</th>
            <td>{{ p.enterName }}</td>
            <td>{{ p.enterAuthorName }}</td>
            <td>Rs.{{ p.price }}/day</td>
            <td><a href="{% url 'LibraryManagementSystem:bookupdate' p.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg">Edit</i>
              </a></td>
            <td>
              <form action="{% url 'LibraryManagementSystem:bookdelete' p.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">DELETE</button>
                <i class="far fa-trash-alt fa-lg text-danger float-rigth"></i>
              </form>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-6 col-md-4">
      <h1> AddBook</h1>
      <span class="mb-0 text-muted">
        {% if msg %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Hey!</strong>{{ msg | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
      </span>
      <form method="post">
        <div class="col">
          {% csrf_token %}
          <div class="form-group first">
            <label for="enterId">Enter ID</label>
            <input name="enterId" type="number" id="enterId" class="from-control" placeholder="Enter Book ID" required
              value="{{ book.enterId }}">
          </div>
          <div class="form-group first">
            <label for="enterName">Enter Name</label>
            <input name="enterName" type="text" id="enterName" class="from-control" placeholder="Enter Book Name"
              required value="{{ book.enterName }}">
          </div>
          <div class="form-group first">
            <label for="enterAuthorName">Author Name</label>
            <input name="enterAuthorName" type="text" id="enterAuthorName" class="from-control"
              placeholder="Enter Author Name" required value="{{ book.enterAuthorName }}">
          </div>
          <div class="form-group first">
            <label for="enterprice">Price</label>
            <input name="price" type="number" id="enterprice" class="from-control" placeholder="Enter The Price"
              required value="{{ book.price }}">
          </div>
          <div class="form-group first">
              <input type="submit" name="addButton" id="addButton" class="btn btn-primary">
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}