{% extends "base.html" %}

  
    <div class="container">
            {% block content %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            {% if error_message %}
                                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                            {% endif %}
                            <div class="form-group clearfix">
                                <label for ='email' class="col-md-4 control-label text-right"><b>UserEmail : 
                                </label>
                                <div class="col-md-6">
                                    <input type="email" id="email" name="email" value="" class="form-control" required="Enter the Email">
                                </div>
                            </div>
                            <div class="form-group clearfix">                                                                 
                                <label for='password' class="col-md-4 control-label text-right">Password:</label>
                            <div class="col-md-6">
                                <input name="password1" id="password" type="password1" class="form-control">
                            </div>
                            </div>
                    
                            <div class="col-md-6 col-md-offset-4">
                                <input name="login" id="loginButton" type="submit" value="Login" class="btn btn-success" /> &nbsp;
                                New User?<a id="signupLink" href="http://localhost:8000/signup/">or Register</a>
                            </div>
                
                </div> </div>
             
            </div>
            
        </form>
    </div>

 {% endblock %}
    

