{% extends 'customer.html' %}

{% block table %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book Name</th>
          <th scope="col">Book ID</th>
          <th scope="col">Author Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
      {% for p in  product_list %}
        <tr>
          <th scope="row">{{ p.enterId }}</th>
          <td>{{ p.enterName }}</td>
          <td>{{ p.enterAuthorName }}</td>
          <td>{{ p.price }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}